<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert</title>
    <script src="https://unpkg.com/jquery@1.12.4/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
    <style>
    </style>
</head>
<body>
    <form class="" action="" method="post">
        <%= data.id %>
        <div><input placeholder="name" type="text" name="name" value="<%= data.name %>"></div>
        <div><input placeholder="modelnumber" type="text" name="modelnumber" value="<%= data.modelnumber %>"></div>
        <div><input placeholder="series" type="text" name="series" value="<%= data.series %>"></div>
        <div><input type="submit" name=""></div>
    </form>
</body>
</html>
